@media screen and (max-width: 1700px) {
    html{font-size: 50%;}
    .nav-container .navBar .navlist{column-gap: 3rem;}
    .nav-container .navBar .navlist a{font-size: 1.14vw;}
    .section-courses .courses-box .left-box .slick-dots{left: -2%;}
 }
 
 @media screen and (max-width: 1500px) {
     html{font-size: 45%;}
 }
 
 @media screen and (max-width: 1300px) {
     html{font-size: 40%;}
 }
 
 @media screen and (max-width: 1279px) {
     html{font-size: 35% ;}
     .section-banner .banner-slider .slider-child .banner-text{top: 50%;}
 }
 
 @media screen and (max-width: 1023px) {
     html{font-size: 30%;}
     .left-enq-box ul li:first-child a{width: 24.9rem;height: 8.285rem;transform-origin: 4.7rem 4.7rem 0;}
     .section-banner .banner-slider .slider-child .banner-text .p32{max-width: 130.8rem;}
     .left-enq-box ul li{width: 8.2rem;height: 8.2rem;}
    .left-enq-box ul li:first-child span{font-size: 3.4rem;}
    .container-sm{padding: 7rem 0rem;}
     .section-banner .banner-slider .slider-child .banner-text .head120{margin-bottom: 3rem;}
     .nav-container .navBar .navlist{transform: translateX(100%); display: flex;column-gap: 4rem;padding: 20rem;flex-direction: column;position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: var(--yellow);}
    .nav-container .navBar .navlist a{font-size: 3.14vw;padding: 12px 0px;border-bottom: solid 1px #000;}
    .nav-container .navBar .navlist.active{transform: translateX(0%);}
    .nav-container .navBar .msc-logo {width: 25%;}
    .menu-btn {display: block;} 
    .menu-btn::before{display: block;}
    .menu-btn::after{display: block;}
    .section-services .services-box-wrap{grid-template-columns: 1fr 1fr 1fr;}
    .section-loaders .inner-contain{grid-template-columns: 1fr 1fr 1fr;row-gap: 10rem;}
    p,.p24{font-size: 4rem;}
    .p32 {font-size: 4.5rem;}
    .section-courses .courses-box .right-box .plan-box .more-btn a{font-size: 3.4rem;}
    /* .section-event-countdown .logo{width: 80rem;} */
    .section-upcoming .events-grid .content-box .read-more .blue-btn p{font-size: 3.4rem;}
    .section-touch .touch-box .left-box form input{height: 10rem;font-size: 3.4rem;}
    .section-touch .touch-box .left-box form input::placeholder{font-size: 3.4rem;}
    .section-touch .touch-box .left-box form textarea{font-size: 3.4rem;}
    .section-touch .touch-box .left-box form textarea::placeholder{font-size: 3.4rem;}
    .section-podcast .tab-container .tab{flex-direction: column;}
    .section-podcast .tab-container .tab .right-box {margin: 0 auto;width: 90%;display: flex;column-gap: 2.8rem;margin-top: 12rem;}
    .section-podcast .tab-container .tab .left-box {width: 90%;margin: 0 auto;}
    .left-enq-form .inner-form {
        padding: 2.5rem;
        width: 40rem!important;
    }

    .left-enq-form .form-title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        padding-top: 1rem;
    }

    .left-enq-form .btn {
        font-size: 2.5rem !important;
    }

    .left-enq-form .form-box input, .left-enq-form .form-box textarea {
        color: #cfcbcb;
        font-size: 1.9rem;
        padding: 2rem 1rem;
    }
 }
 
 @media screen and (max-width: 767px) {
     html{font-size: 25%;}
     .nav-container .navBar .navlist a{font-size: 6.14vw;}
     .nav-container .navBar .navlist{padding: 20rem 8rem;}
     .section-banner .banner-slider .slider-child .banner-text .head120{font-size: 10rem;}
     .section-banner .banner-slider .slider-child .banner-text .p32{    max-width: 76.8rem;}
     .section-banner .banner-slider .slider-child .banner-accredition{bottom: 14.8rem;right: 21.3rem;}
     .section-banner .banner-slider .slider-child .banner-accredition .accr-text p{filter: drop-shadow(0px 0px 5px #000);}
     .section-banner .banner-slider .slider-child .banner-accredition .accr-images .accr-img{width: 15rem;}
     .section-banner .banner-slider .slider-child .banner-accredition .accr-images{justify-content: center;}
     .section-banner .banner-slider .slider-child .banner-accredition .accr-images .accr-img img{filter: drop-shadow(0px 0px 30px #000);}
     .section-trustScroll .scroll-contain img{width: 16rem;}
     .nav-container .navBar .msc-logo{width: 45%;}
     .section-llt .llt-grid{grid-template-columns: repeat(1,1fr);row-gap: 10rem;}
     .section-llt .llt-grid .content-box .content-head .head48{font-size: 5.8rem;}
     .section-llt .llt-grid .content-box .content-para .p32{text-align: center;}
     .section-courses .courses-box .left-box .slick-dots{left: 50%;bottom: -45px;flex-direction: row;column-gap: 5rem;top: initial;}
     .section-courses .courses-box{    flex-direction: column-reverse;}
     .section-courses .courses-box .right-box {width: 90%;margin: 0 auto;}
    .section-courses .courses-box .left-box {width: 90%;margin: 0 auto;}
    .section-clients .client-box-wrap{column-gap: 2.5rem;}
    .section-clients .client-box-wrap .head64{font-size: 5rem;}
    .section-clients .client-box-wrap .p32{margin-top: 8px;font-size: 3.5rem;}
    .section-what-clients-say .sider-arrow{top: -30px;right: 10px;display: flex;column-gap: 3rem;}
    .section-loaders .inner-contain{grid-template-columns: 1fr 1fr;row-gap: 10rem;}
    .container-sm{display: flex;flex-direction: column;align-items: center;row-gap: 7rem;padding: 5rem;}
    .section-what-clients-say .left-box:after{left: 10px;bottom: 10px;}
    .section-founder .right-box, .section-founder .left-box{width: 100%;text-align: center;}
    .section-enjoy .text-box .audio-box .left-box {width: 65px;margin-right: 3rem;}
    .section-enjoy .text-box .audio-box .right-box {width: 83.5%;}
    .section-enjoy .text-box .audio-box .right-box .top .player-btns {display: flex;column-gap: 5.16px;width: 75px;}    
    .section-founder .right-box .p32{padding-right: 0rem;}
    .section-program .left-box, .section-why-msc .left-box{width: 90%;margin: 0 auto;}
    .section-services .services-box-wrap{grid-template-columns: 1fr 1fr;}
    .section-improve .improve-box{flex-direction: column;    row-gap: 7rem;}
    .section-improve .improve-box .left-box{width: 80%;}
    .section-improve .improve-box .right-box{width: 90%;}
    .section-what-clients-say .left-box{display: block;width: 80%;margin: 0 auto;}
    .section-what-clients-say .right-box{display: block;width: 100%;padding-left: 0rem;margin: 7rem auto 0rem;}
    .section-what-clients-say .right-box p{width: 100%;}
    .section-what-clients-say .client-box-wrapper{grid-template-columns: 1fr 1fr;}
    .section-event-countdown .countdown-box-wrap{max-width: 66.9rem;}
    .section-loaders .inner-contain{flex-wrap: wrap;justify-content: center;}
    .section-upcoming .events-grid{grid-template-columns: 1fr;    grid-row-gap: 7rem;}
    .section-touch .touch-box{grid-template-columns: 1fr;grid-row-gap: 10rem;}
    .form-download-ebook{grid-template-columns: 1fr;}
    .form-download-ebook .submit-input-box{grid-column: 1;}
    .section-podcast .tab-container .tab .right-box{flex-direction: column;row-gap: 7rem;}
    .section-podcast .podcast-tabBtns{max-width: 70.6rem;}
    .section-podcast .podcast-tabBtns .tabBtn{font-size: 4.4rem;}
    .section-enjoy{padding: 21.4rem 0rem 21.4rem 0rem;}
    .section-enjoy .text-box {width: 85%;margin: 0 auto;}
    .section-touch .touch-box .right-box .contact-box a{font-size: 3.4rem;}
    .footer .social-icons a {width: 6rem;}
    .footer .foot-text p{line-height: 1.5;margin-top: 4rem;text-align: center;}
    .container-sm .left-box {width: 100%;}
    .left-enq-form .form-box button{font-size: 2.6rem !important;}
    .left-enq-form .close-enq{font-size: 2.2rem;color: #fff;}
    .left-enq-form.active{width: 60rem;}
    .left-enq-form .inner-form {
        padding: 2.5rem;
        width: 100% !important;
    }
    .left-enq-form .close-enq {
        font-size: 4.2rem;
        color: #fff;
    }
    .left-enq-form .form-title{font-size: 3.5rem;}
    .left-enq-form .form-box {
        padding: 2rem 0;
    }
    .left-enq-form .form-box input, .left-enq-form .form-box textarea {
        color: #cfcbcb;
        font-size: 2.9rem;
        padding: 4rem 1rem;
    }
    .left-enq-form .form-box button {
        font-size: 3.6rem !important;
    }
 }