@media screen and (max-width:1800px) {
    .section-gallery .next{width: 9.5rem;height: 9.5rem;background-size: contain;}
    .section-gallery .prev{width: 9.5rem;height: 9.5rem;background-size: contain;}
}

@media screen and (max-width: 1700px) {
    html{font-size: 50%;}
    .nav-container .navBar .navlist{column-gap: 3rem;}
 }
 
 @media screen and (max-width: 1500px) {
     html{font-size: 45%;}
     .alumni-img img{
        width: 31rem;
     }
 }
 
 @media screen and (max-width: 1300px) {
     html{font-size: 40%;}
 }
 
 @media screen and (max-width: 1279px) {
     html{font-size: 35% ;}
 }
 
 @media screen and (max-width: 1023px) {
     html{font-size: 30%;}
 }
 
 @media screen and (max-width: 769px) {
     html{font-size: 25%;}
 }